.btn-apply {
  display: inline-block;
  background-color: #1ade87;
  padding: 16px 32px;
  color: white;
  border-radius: 24px;
}

@media(max-width: 576px){
  .btn-apply {
    margin-left: 16px;
  }
}
