.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
  margin-bottom: 24px;
}

.card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 24px;
}

.card img {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.card h2 {
  font-size: 16px;
}

.card p {
  color: #5a5b5b;
}


@media(max-width: 992px){
  .cards {
    flex-wrap: wrap;
  }
}

@media(max-width: 768px){
  .cards {
    flex-wrap: wrap;
  }
}

@media(max-width: 576px){
  .cards {
    flex-wrap: wrap;
  }
}
