.footer {
  background-color: #2c2b2b;
  padding: 50px 0;
  text-align: center;
}

.footer a {
  margin: 10px;
  font-size: 32px;
  color: #1EDD88;
}

.footer h2 {
  color: #c8c8c8;
  font-size: 16px;
}

@media(max-width: 992px){
  .footer a {
    margin: 5px;
    font-size: 16px;
    color: #1EDD88;
  }

  .footer h2 {
    color: #c8c8c8;
    font-size: 12px;
  }
}

@media(max-width: 768px){
  .footer a {
    margin: 5px;
    font-size: 16px;
    color: #1EDD88;
  }

  .footer h2 {
    color: #c8c8c8;
    font-size: 12px;
  }
}

@media(max-width: 576px){
  .footer a {
    margin: 5px;
    font-size: 16px;
    color: #1EDD88;
  }

  .footer h2 {
    color: #c8c8c8;
    font-size: 12px;
  }
}
